@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html {
    font-size: 18px !important;
    font-family: 'Roboto', sans-serif !important;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: .3fr 1fr;
    justify-content: center;
}

.add-book-header {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.add-book-section {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal {
    margin-top: 1rem;
    max-height: 100vh;
    max-width: 100vw;
}

.close-modal-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
}

.form-row {
    margin: 1rem 0;
    flex-basis: calc(50% - 1rem);
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"],
select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1rem;
    width: 100vh;
}

input[type="text"]:focus,
select:focus {
    outline: none;
    border-color: #3f51b5;
}

.add-book-btn,
.add-book-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-book-btn,
.submit-book-btn {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.add-book-btn,
.submit-book-btn:hover,
.add-book-btn,
.submit-book-btn:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.add-book-btn,
.submit-book-btn:hover {
    transform: translateY(-1px);
}

.add-book-btn,
.submit-book-btn:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

.book-list-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 300px;
    overflow-y: auto;
    grid-column-gap: 1rem;
    padding-top: 2rem;
}

@media (max-width: 768px) {
    .modal {
        width: auto;
        height: 50%;
        max-height: none;
        max-width: none;
        margin: 0;
    }

    input[type="text"],
    select {
        width: 80%;
    }

}